@media (min-width: 1025px) {
	
.jumboron {
  position: absolute;
  bottom: 0;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

}
